*.o
*.gcno
*.gcda
*.class
*doxygen_xml
*_wrap.h
*_wrap.cxx
*.so
*.so.*
*.dylib
*.a
*_doxygen.i
.depend
.config
.cpuinfo
.cpuinfo.c
*.pyc
GPATH
GRTAGS
GTAGS
TAGS
tags
configure.log
*.swp
*.swo
*.mex*
*.oct
.localvimrc
*.DS_Store

*~
\#*\#

*.orig
*.mat
*.png
